{{ define "title" }}
<title>Novel Detail - Noveler Admin</title>

<link rel="stylesheet" href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/compiled/css/table-datatable-jquery.css">

{{ end }}

{{ define "heading" }}
<h3>Novel Detail</h3>
{{ end }}

{{ define "content" }}

<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                Novel Detail
            </h5>
            <div class="buttons">
                <a href="/novel/{{ .novel.ID }}/edit" class="btn icon icon-left btn-primary"><i data-feather="edit"></i> Edit Novel</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ .novel.CoverImage }}" alt="{{ .novel.Title }}" class="img-thumbnail" width="400">
                </div>
                <div class="col-md-8">
                    <h3>{{ .novel.Title }}</h3>
                    <p><strong>Description:</strong> {{ .novel.Description }}</p>
                    <p><strong>Status:</strong> {{ .novel.Status }}</p>
                    <p><strong>Author:</strong> {{ .novel.Author }}</p>
                    <p><strong>Rating:</strong> {{ .novel.Rating }}</p>
                    <p><strong>Genres:</strong>
                        {{ range .genres }}
                            <span class="badge bg-light-info">{{ .Name }}</span>
                        {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </div>
   
       
       


</section>



<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                Chapter List
            </h5>
            <div class="buttons">
                <a href="/chapter/{{ .novel.ID }}/new" class="btn icon icon-left btn-primary"><i data-feather="plus"></i> Add Chapter</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .novel.Chapters}}
                        <tr>
                            <td class="col-8">{{ .Title }}</td>
                            <td class="col-2">
                                <a href="/chapter/{{ .ID }}/edit" class="btn btn-primary">Edit</a>
                                <a class="btn btn-danger delete-chapter" href="#danger" data-bs-toggle="modal" data-chapter-id="{{ .ID }}">Delete</a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- START MODAL -->
<div class="modal fade text-left" id="danger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="myModalLabel120">Delete Chapter
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this chapter? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary"
                    data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="button" class="btn btn-danger ms-1" id="acceptButton">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Accept</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- START OF TOAST -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
            <strong class="me-auto">Toast</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>
<!-- END OF TOAST -->



<script src="/assets/extensions/jquery/jquery.min.js"></script>
<script src="/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/assets/static/js/pages/datatables.js"></script>
<script src="/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
     $(document).ready(function () {
     function showToast(message) {
         var toast = new bootstrap.Toast(document.getElementById('liveToast'));
         var toastBody = document.querySelector('.toast-body');
         toastBody.textContent = message;
         toast.show();
     }
 
     $(".delete-chapter").click(function () {
         var chapterID = $(this).data("chapter-id");
 
         $("#acceptButton").data("chapter-id", chapterID);
 
         $("#danger").modal("show");
     });
 
     $("#acceptButton").click(function () {
         var genreID = $(this).data("chapter-id"); // Retrieve the stored genre ID
         var deleteURL = "/chapter/" + genreID + "/delete";
 
         $.ajax({
             type: "DELETE",
             url: deleteURL,
             success: function () {
                 showToast("Chapter deleted successfully");
                 setTimeout(() => {
                   window.location.reload();
                 }, 1000);
             },
             error: function () {
                 console.error("Error deleting Chapters.");
             }
         });
     });
 });
</script>

{{ end }}